Repository dropbox-code/repo-4, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, github_actions, python, javascript

add asynchronous checkpoint support
  composer/trainer/trainer.py
Labels: none

Patch mc deps to use fork
  Cargo.lock
  Cargo.toml
Labels: rust

Use git mc deps
  Cargo.toml
  verifier/Cargo.toml
Labels: rust

Replace hu55a1n1 with informalsystems in git deps
  Cargo.lock
  verifier/Cargo.toml
Labels: rust

Update lock-threads.yaml
  .github/workflows/lock-threads.yaml
Labels: github_actions

Update workflow
  .github/workflows/linter.yml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
Labels: github_actions

Update workflow
  .github/workflows/algolia-indexing.yml
  .github/workflows/deploy.yml
  .github/workflows/github-pages.yml
Labels: github_actions

Update workflow
  .github/workflows/ci-build.yaml
  .github/workflows/ci-publish.yaml
  .github/workflows/gradlew-update.yaml
  .github/workflows/lock-threads.yaml
Labels: github_actions

Update workflow
  .github/workflows/build.yml
  .github/workflows/deploy_on_release.yml
  .github/workflows/deploy_tag.yml
  .github/workflows/scorecard.yml
Labels: github_actions

Update workflow
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/data-update_ec2-instance-offerings.yml
  .github/workflows/data-update_ec2-instance-types.yml
  .github/workflows/data-update_ssm-default-amis.yml
  .github/workflows/data-update_ssm-default-parameters.yml
  .github/workflows/dependency_test.yml
  .github/workflows/dockertests.yml
  .github/workflows/payment_notification.yml
  .github/workflows/release.yml
  .github/workflows/test_outdated_versions.yml
  .github/workflows/test_sqs.yml
  .github/workflows/test_terraform.yml
  .github/workflows/tests_decoratormode.yml
  .github/workflows/tests_sdk_dotnet.yml
  .github/workflows/tests_sdk_java.yml
  .github/workflows/tests_servermode.yml
Labels: github_actions

Update workflow
  .github/workflows/ci.yml
Labels: github_actions

Update workflow
  .github/workflows/codeql.yml
  .github/workflows/create_release.yml
  .github/workflows/master_push_and_pull_request_workflow.yml
  .github/workflows/release_pr_workflow.yml
Labels: github_actions

Update workflow
  .github/workflows/checklocks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-file-build.yml
  .github/workflows/flakehub-publish-tagged.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/govulncheck.yml
  .github/workflows/installer.yml
  .github/workflows/kubemanifests.yaml
  .github/workflows/ssh-integrationtest.yml
  .github/workflows/test.yml
  .github/workflows/update-flake.yml
  .github/workflows/update-webclient-prebuilt.yml
  .github/workflows/webclient.yml
Labels: github_actions

Update workflow
  .github/workflows/ci.yml
Labels: github_actions

Update workflow
  .github/workflows/clang-format.yml
  .github/workflows/mypy.yaml
  .github/workflows/publish.yml
  .github/workflows/ruff.yml
  .github/workflows/yapf.yml
Labels: github_actions

Update workflow
  .github/workflows/build-test-images.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/fuzz.yml
  .github/workflows/images.yml
  .github/workflows/links.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/scorecards.yml
  .github/workflows/stale.yml
  .github/workflows/windows-hyperv-periodic-trigger.yml
  .github/workflows/windows-hyperv-periodic.yml
  .github/workflows/windows-periodic-trigger.yml
  .github/workflows/windows-periodic.yml
Labels: github_actions

Update workflow
  .github/workflows/ci.yml
  .github/workflows/testgen.yml
Labels: github_actions

Update workflow
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/daily.yml
  .github/workflows/external.yml
  .github/workflows/reply-schemas-linter.yml
  .github/workflows/spell-check.yml
Labels: github_actions

Update workflow
  .github/workflows/Semgrep.yml
  .github/workflows/ci.yml
Labels: github_actions

Update workflow
  .github/workflows/actions-lint.yaml
  .github/workflows/attach-release-assets.yaml
  .github/workflows/circle-public-workflows-pipeline.yaml
  .github/workflows/conventional-commit-release.yaml
  .github/workflows/pr-scan.yaml
Labels: github_actions

Update workflow
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr-build.yml
  .github/workflows/release.yml
  .github/workflows/static-analysis.yml
  .github/workflows/tag.yml
  .github/workflows/unit-tests.yml
Labels: github_actions

Update workflow
  .github/workflows/build.yml
Labels: github_actions

Update workflow
  .github/workflows/chromatic.yaml
  .github/workflows/coveralls.yaml
  .github/workflows/release-libs.yml
Labels: github_actions

Update workflow
  .github/workflows/checks.yaml
  .github/workflows/tag_and_build.yaml
Labels: github_actions

Update workflow
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
Labels: github_actions

Update workflow
  .github/workflows/ci-collector.yml
  .github/workflows/ci-java.yml
  .github/workflows/ci-nodejs.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-shellcheck.yml
  .github/workflows/ci-terraform.yml
  .github/workflows/close-stale.yaml
  .github/workflows/codeql.yml
  .github/workflows/layer-publish.yml
  .github/workflows/release-layer-collector.yml
  .github/workflows/release-layer-java.yml
  .github/workflows/release-layer-nodejs.yml
  .github/workflows/release-layer-python.yml
  .github/workflows/release-layer-ruby.yml
Labels: github_actions

Update workflow
  .github/workflows/collector-test.yaml
  .github/workflows/demo-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/operator-test.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
Labels: github_actions

Update workflow
  .github/workflows/ci.yml
Labels: github_actions

deploy: 952db2be442c5583aa83d551c2a3314d8c85c18f
  .nojekyll
  index.html
Labels: none

Update workflow
  .github/workflows/inspect.yml
  .github/workflows/publish.yml
Labels: github_actions

Update workflow
  .github/workflows/cargo-audit.yaml
  .github/workflows/ci.yaml
  .github/workflows/copyright.yaml
  .github/workflows/issues.yaml
  .github/workflows/pr-assign.yaml
  .github/workflows/pr.yaml
Labels: github_actions

Update workflow
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot.yml
  .github/workflows/gosec.yml
Labels: github_actions

Update workflow
  .github/workflows/ci.yml
  .github/workflows/pypi-release.yml
Labels: github_actions

Update workflow
  .github/workflows/container.yaml
  .github/workflows/dependabot-merge.yaml
  .github/workflows/generate.yaml
  .github/workflows/go.yaml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
  .github/workflows/ui-test.yaml
Labels: github_actions

Update workflow
  .github/workflows/acceptance-tests.yml
  .github/workflows/release.yml
  .github/workflows/tfproviderlint.yml
  .github/workflows/unit-tests.yml
Labels: github_actions

Deploying to gh-pages from @ dropbox-code/repo-4@a81cae6fd3abaa2e83b292809f9553994bb9afcf 🚀
  assets/90d8211e477ea312c819389cd4c74186/analytics_xsd.svg
  assets/c54cb9d2492f9bde6a5fc40f46be39e8/reports_xsd.svg
  assets/f97124f6957ca1697e37c1f80abd47c9/cardinal_commerce.svg
  index.html
  static/194572146ea683715849b9fba267674d/0d135/extension.png
  static/2279c074f6e1c6c94b244174abc03ac1/0d135/browse.png
  static/35012850a21aa169aa7ee179636af9cd/71f78/app-delivery.png
  static/93eb5ec4c8c5dc1b70ed77ca2bdf6089/0d135/info.png
  static/a25b7ddc57d2c66e40f150a89b15fc2a/0d135/code.png
  static/a36bf1e077a87cc6bbf6f0a4b3a9dbb9/0d135/layers.png
  static/d5de8fa57ca560d4c666d314feae3f56/dd4a7/h5d-sectioning-flowchart.png
  ~partytown/debug/partytown-atomics.js
  ~partytown/debug/partytown-media.js
  ~partytown/debug/partytown-sandbox-sw.js
  ~partytown/debug/partytown-sw.js
  ~partytown/debug/partytown-ww-atomics.js
  ~partytown/debug/partytown-ww-sw.js
  ~partytown/debug/partytown.js
  ~partytown/partytown-atomics.js
  ~partytown/partytown-media.js
  ~partytown/partytown-sw.js
  ~partytown/partytown.js
Labels: none

Update workflow
  .github/workflows/ci.yml
Labels: github_actions

Update workflow
  .github/workflows/alpine-arm.yml
  .github/workflows/alpine.yml
  .github/workflows/backport_pr.yml
  .github/workflows/benchmark-flow.yml
  .github/workflows/benchmark-runner.yml
  .github/workflows/benchmark-trigger.yml
  .github/workflows/build-linux-platforms.yml
  .github/workflows/ci-basic.yml
  .github/workflows/event-pull-request.yml
  .github/workflows/event-push-to-integ.yml
  .github/workflows/event-weekly.yml
  .github/workflows/flow-coverage.yml
  .github/workflows/flow-sanitizer.yml
  .github/workflows/freebsd.yml
  .github/workflows/macos-build-and-deploy.yml
  .github/workflows/macos.yml
  .github/workflows/mariner2.yml
  .github/workflows/release-drafter.yml
  .github/workflows/spellcheck.yml
  .github/workflows/task-check-docs.yml
  .github/workflows/trigger-build.yml
  .github/workflows/ubuntu-arm.yml
  .github/workflows/ubuntu.yml
Labels: github_actions

Update workflow
  .github/workflows/cache-service-tests.yml
  .github/workflows/check-sources-consistency.yml
  .github/workflows/deploy-images-to-ecr-public.yml
  .github/workflows/evm-connector-tests.yml
  .github/workflows/fuel-connector-tests.yml
  .github/workflows/gelato-relayer-tests.yml
  .github/workflows/integration-test-template.yml
  .github/workflows/long-arbitrum-dry-run-test.yml
  .github/workflows/long-avalanche-dry-run-test.yml
  .github/workflows/long-primary-dry-run-test.yml
  .github/workflows/monorepo-integration-tests.yml
  .github/workflows/on-chain-relayer-tests.yml
  .github/workflows/oracle-arbitrum-dry-run-test.yml
  .github/workflows/oracle-avalanche-dry-run-test.yml
  .github/workflows/oracle-main-dry-run-test.yml
  .github/workflows/oracle-primary-dry-run-test.yml
  .github/workflows/oracle-rapid-dry-run-test.yml
  .github/workflows/oracle-stocks-dry-run-test.yml
  .github/workflows/oracle-tests.yml
  .github/workflows/rpc-providers-tests.yml
  .github/workflows/sdk-tests.yml
  .github/workflows/starknet-connector-tests.yml
  .github/workflows/starknet-relayer-tests.yml
  .github/workflows/sync-to-public-repo.yml
  .github/workflows/ton-connector-tests.yml
  .github/workflows/ton-relayer-tests.yml
  .github/workflows/utils-tests.yml
Labels: github_actions

Update workflow
  .github/workflows/build-deploy.yml
  .github/workflows/merge_master_to_dev.yml
  .github/workflows/stale.yml
  .github/workflows/update-algolia-index.yml
Labels: github_actions

.github/labeler.yml:

---
rust:
  - changed-files:
    - any-glob-to-any-file:
      - '**.rs'
      - '**/Cargo.lock'
      - '**/Cargo.toml'

github_actions:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/labeler.yml'
      - '.github/triage-labeler.yaml'
      - '.github/auto_assign.yml'

python:
  - changed-files:
    - any-glob-to-any-file:
      - '**.py'
      - '**/poetry.lock'
      - '**/pyproject.toml'
      - '**/requirements.txt'

javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**.js'
